@import '../bower_components/bootstrap/less/bootstrap';

.modal-backdrop {
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}